<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
   <h1 class="text-center appTitle">लोकशासन</h1>
    <!-- <a class="navbar-brand" href="/">लोकशासन</a> -->
  </div>
</div>